.div1 {
    width: 100%;
    height: 100%;
    max-width: 1034px;
    max-height: 543px;
    margin: 0 auto;
}
.div1 .div2 {
    position: relative;
    padding-top: 2px;
    padding-bottom: 67.5%;
    height: 0;
}
.div2 video:not(:fullscreen) {
    box-sizing: border-box;
    background: url('../../../../src/assets/img/images/mobileframe.webp') center center no-repeat;
    background-size: contain;
    padding-top:7.7%;
    padding-bottom: 9.75%;
    padding-left: 8%;
    padding-right: 7.9%;
    position: absolute;
    border-radius: 12%;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
}