.btnClass {
  background-image: url("../../assets/img/images/1.png");
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: contain;
}

.btnClassNull {
  background-color: #d8d8d8;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

