@font-face {
  font-family: "Rounded Elegance";
  src: local("RoundedElegance"),
    url("../../assets/fonts/RoundedElegance-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Proxmia Soft";
  src: local("Proxima Soft"),
    url("../../assets/fonts/ProximaSoft-Regular.ttf") format("truetype"),
    url("../../assets/fonts/ProximaSoft-Bold.ttf") format("truetype");
}


.noAnswer {
  background-image: url("../../assets/img/images/transparent.png");
  background-size: cover;
}