.imgWidth {
    width:5.5%;
}

.imgWidth3 {
    width:5%
}

.imgWidth2 {
    width:9.5%;
}

@media screen and (max-width: 767px) {
    .imgWidth {
        width:10%;
    }
    .imgWidth3 {
        width:10%;
    }
    .imgWidth2{
        width:20%;
    }
}

@media screen and (max-width: 1530px){
    .fontSize{
        font-size: 10px;
    }
}

@media screen and (max-width: 940px) {
    .fontSize{
        font-size: 7px;
    }
}

