.sidebaritems { 
    height: 100%;  
    /*position: fixed; */
    z-index: 1; 
    left: 0; 
    margin-left:5px;
    background-color:silver; 
    transition: .5s ease; 
    overflow-x: hidden; 
}

.homeContainer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: stretch;
}